@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Saira", serif !important;
  scrollbar-width: none;
  -webkit-overflow-scrolling: none;
}